# Normalized datasets (build artifacts)
datasets/normalized/*
!datasets/normalized/README.md

# Preprocessed datasets (build artifacts, except for the given ones)
datasets/preprocessed/*
!datasets/preprocessed/README.md
!datasets/preprocessed/A1-synthetic.txt
!datasets/preprocessed/A1-turbine.txt

# Split datasets (build artifacts)
datasets/split/*
!datasets/split/README.md

# Evaluation results (build artifacts)
evaluation/results/*
!evaluation/results/README.md